To perform classification algorithm on our Iris dataset, first we import the necessary libraries

In [1]:
import pandas as pd    # data structure library
import numpy as np         # for scientific computing
import matplotlib.pyplot as plt      # for ploting in python
from sklearn.model_selection import train_test_split   # to split our dataset into two
from sklearn.linear_model import LogisticRegression  
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm

We pass the data into pandas Dataaframe

In [2]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
data = df.copy()

In [4]:
encode = LabelEncoder()
data['Species'] = encode.fit_transform(data['Species'])

In [5]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [6]:
x = data[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalLengthCm']]  # features
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalLengthCm
0            5.1           3.5            1.4            1.4
1            4.9           3.0            1.4            1.4
2            4.7           3.2            1.3            1.3
3            4.6           3.1            1.5            1.5
4            5.0           3.6            1.4            1.4

In [7]:
y = data['Species']   # the label

Now we are ready to split the data

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [9]:
reg = LogisticRegression() # perform a logistic regression 
reg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
y_pred = reg.predict(x_test)
y_pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 1, 0, 0, 1, 1, 0])

In [11]:
accuracy_score(y_test, y_pred)

0.9666666666666667

In [27]:
neigh = KNeighborsClassifier(n_neighbors = 4) #KNN algorithm
neigh.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [28]:
yhat = neigh.predict(x_test)

In [29]:
yhat[0:10]

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1])

In [30]:
accuracy_score(y_test, yhat)

0.9666666666666667

In [31]:
clf = svm.SVC(kernel='rbf')   # support vector machine
clf.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [32]:
predict_y = clf.predict(x_test)
predict_y[0:10]

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1])

In [33]:
accuracy_score(y_test, predict_y)

1.0

In [34]:
Tree = DecisionTreeClassifier(criterion="entropy", max_depth = 4) # decision tree classifier
Tree.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [35]:
prediction = Tree.predict(x_test)
prediction[0:10]

array([2, 1, 0, 2, 0, 2, 0, 1, 2, 1])

In [36]:
accuracy_score(y_test, prediction)

0.9666666666666667

The support vector machine gave us the best accuracy with an accuracy of  100%